/* Advisory Cell Color */
$greenRowBackgroundColor: #FAFFFB;
$orangeRowBackgroundColor: #FFFDFA;
$redRowBackgroundColor: #FFFAFB;
$cityLabelColor: #ABADAB;
$cityTemperatureColor: #8A8A8A;
/* Advisory Colors */
$advisoryGreenColor: #11CB77;
$advisoryOrangeColor: #FFBF56;
$advisoryRedColor: #FF3E56;

@define-mixin cityDataLabel $color {
  font-family: Helvetica, Arial, sans-serif;
  color: $color;
  font-size: 1.3em;
}

@define-mixin cityListItem $color {
  background: $color;
  font-size: 1.25em;
}

.itemContainer.advisory0 {
  @mixin cityListItem $greenRowBackgroundColor; }
  .itemContainer.advisory1,
  .itemContainer.advisory2 {
    @mixin cityListItem $orangeRowBackgroundColor; }
  .itemContainer.advisory3,
  .itemContainer.advisory4 {
    @mixin cityListItem $redRowBackgroundColor;
  }

.itemContainer {
  lost-center: 100% 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  display: flex;
  align-items: center;
  animation: fadein .5s ease-out;

  .cityContainer {
    lost-offset: 3/8;
    lost-column: 4/8;

    div {
      lost-row: 1/2;
      margin: 0;

      p {
        margin: 0;
      } p.cityLabel {
        color: $cityLabelColor;
      } p.cityTemperatureLabel {
        color: $cityTemperatureColor;
      }
    }
  }

  .dataContainer {
    height: 100%;
    lost-column: 1/8;
    lost-align: center;

    p {
      margin: 0;
    } p.advisory0 {
      @mixin cityDataLabel $advisoryGreenColor; }
    p.advisory1,
    p.advisory2 {
      @mixin cityDataLabel $advisoryOrangeColor; }
    p.advisory3,
    p.advisory4 {
      @mixin cityDataLabel $advisoryRedColor;
    }
  }
}
