/* Colors */
$topGradientColor: #C3CEC5;
$bottomGradientColor: #5F779E;

html, body {
  min-height: 100vh;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

p {
  color: #FFF;
}

body {
  position: relative;
  background: -webkit-linear-gradient(45deg, $topGradientColor 10%, $bottomGradientColor 90%);
  background: linear-gradient(45deg, $topGradientColor 10%, $bottomGradientColor 90%);
  overflow: hidden;
  background-size: 200% 100% !important;
  background-repeat: no-repeat;
  -webkit-animation: fadein 1s ease;
  animation: fadein 1s ease;
}

:global(.container) {
  lost-center: 30%;
}

@media only screen and (max-width: 1000px) {
  :global(.container) {
    lost-center: 60%;
  }
}

@media only screen and (max-width: 768px) {
  :global(.container) {
    lost-center: 80%;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1.0;
  }
}
